<%- include('partials/header.ejs') %> 
<link rel="stylesheet" href="/css/style.css">
<title>E-Learning</title>
</head>
<body style="background-color: #b8bad6;">
    <%- include('partials/navbar.ejs') %> 
    
   
<h1 style="text-align: center; color: black;">Welcome to the E-Learning Application</h1>


    <%- include('partials/footer.ejs') %> 
    
   