<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Student</title>
    <!-- CSS-->
    <link rel="stylesheet" href="/stylesheets/assets/bootstrap/css/font.css">
    <link rel="stylesheet" href="/stylesheets/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/assets/css/form-elements.css">
    <link rel="stylesheet" href="/stylesheets/assets/css/style.css">
  </head>
  <body>
    <!-- Top content-->
    <div class="top-content">
      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
              <h1><strong>Add New Student</strong></h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3"><a href="/admin/home" role="button" class="btn btn-info">Go Back!</a></div>
            <div class="col-sm-6 form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>Add New Student</h3>
                  <p>Fill the form to add a new student:</p>
                </div>
              </div>
              <div class="form-bottom">
                <form role="form" action="create" method="post" class="login-form">
                  <div class="form-group">
                    <label for="form-name" class="sr-only">Name</label>
                    <input id="form-name" type="text" name="name" placeholder="<%= student.name %> " class="form-name form-control">
                  </div>
                  <div class="form-group">
                    <label for="form-roll" class="sr-only">Roll Number</label>
                    <input id="form-roll" type="text" name="rollno" placeholder="<%= student.rollno %>"class="form-roll form-control">
                  </div>
                  <div class="form-group">
                    <label for="form-username" class="sr-only">Username</label>
                    <input id="form-username" type="text" name="username" placeholder="<%= student.username %>" class="form-username form-control">
                  </div>
                  <div class="form-group">
                    <label for="form-password" class="sr-only">Password</label>
                    <input id="form-password" type="password" name="password" placeholder="<%= student.password %>" class="form-password form-control">
                  </div>
                  <button type="submit" class="btn">Add</button>
                </form>
              </div>
            </div>
            <div class="col-sm-3"><a href="../admin/logout" role="button" class="btn btn-info">Logout!</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="/stylesheets/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/stylesheets/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/stylesheets/assets/js/jquery.backstretch.min.js"></script>
    <script src="/stylesheets/assets/js/scripts.js"></script>
    <!--if lt IE 10script(src='assets/js/placeholder.js')
    -->
  </body>
</html>